# Libraries

In [1]:
# Core Libraries 
import pandas as pd
import numpy as np
import requests


# Yahoo finance
import yfinance as yf

#For Pattern
import re

#For Api Key
from dotenv import load_dotenv
import os


# Warning Signs
import warnings
warnings.filterwarnings('ignore')

# API KEY Configuration

In [2]:
#API keys hidden for security !!!
load_dotenv()

True

[AlphaVantage Website](https://www.alphavantage.co/documentation/)

[Tiingo Web Site](https://www.tiingo.com/documentation/general/overview)

* Also, you can check Api Key Requests

**Libraries Version**

In [3]:
print(f"Pandas Version: {pd.__version__} \n ----")
print(f"Numpy Version: {np.__version__}\n ----")
print(f"Yahoo Finance Version: {yf.__version__}\n ----")
print(f"Re Version: {re.__version__}\n ----")
print(f"Requests Version: {requests.__version__}")

Pandas Version: 2.0.2
 ----
Numpy Version: 1.22.3
 ----
Yahoo Finance Version: 0.2.26
 ----
Re Version: 2.2.1
 ----
Requests Version: 2.31.0

# Alpha Vantage Company Information

**Company Information**

In [4]:
Ticker = "IBM"

In [5]:
# IBM = International Business Machines Corporation
Company_info_url = f'https://www.alphavantage.co/query?function=OVERVIEW&symbol={Ticker}&apikey={os.getenv("Alphavantage_key")}'
r_info = requests.get(Company_info_url)
company_info_data = r_info.json()

print(company_info_data)

{'Symbol': 'IBM', 'AssetType': 'Common Stock', 'Name': 'International Business Machines', 'Description': 'International Business Machines Corporation (IBM) is an American multinational technology company headquartered in Armonk, New York, with operations in over 170 countries. The company began in 1911, founded in Endicott, New York, as the Computing-Tabulating-Recording Company (CTR) and was renamed International Business Machines in 1924. IBM is incorporated in New York. IBM produces and sells computer hardware, middleware and software, and provides hosting and consulting services in areas ranging from mainframe computers to nanotechnology. IBM is also a major research organization, holding the record for most annual U.S. patents generated by a business (as of 2020) for 28 consecutive years. Inventions by IBM include the automated teller machine (ATM), the floppy disk, the hard disk drive, the magnetic stripe card, the relational database, the SQL programming language, the UPC barcode, and dynamic random-access memory (DRAM). The IBM mainframe, exemplified by the System/360, was the dominant computing platform during the 1960s and 1970s.', 'CIK': '51143', 'Exchange': 'NYSE', 'Currency': 'USD', 'Country': 'USA', 'Sector': 'TECHNOLOGY', 'Industry': 'COMPUTER & OFFICE EQUIPMENT', 'Address': '1 NEW ORCHARD ROAD, ARMONK, NY, US', 'FiscalYearEnd': 'December', 'LatestQuarter': '2023-06-30', 'MarketCapitalization': '131348840000', 'EBITDA': '12644000000', 'PERatio': '61.09', 'PEGRatio': '1.276', 'BookValue': '24.22', 'DividendPerShare': '0', 'DividendYield': '0.0461', 'EPS': '2.36', 'RevenuePerShareTTM': '67.06', 'ProfitMargin': '0', 'OperatingMarginTTM': '0', 'ReturnOnAssetsTTM': '0.0376', 'ReturnOnEquityTTM': '9.68', 'RevenueTTM': '60585001000', 'GrossProfitTTM': '32688000000', 'DilutedEPSTTM': '2.36', 'QuarterlyEarningsGrowthYOY': '0.253', 'QuarterlyRevenueGrowthYOY': '0.004', 'AnalystTargetPrice': '130.29', 'TrailingPE': '61.09', 'ForwardPE': '15.55', 'PriceToSalesRatioTTM': '2.108', 'PriceToBookRatio': '6.75', 'EVToRevenue': '2.969', 'EVToEBITDA': '25.81', 'Beta': '0.848', '52WeekHigh': '149.31', '52WeekLow': '111.29', '50DayMovingAverage': '133.89', '200DayMovingAverage': '134.35', 'SharesOutstanding': '911006000', 'DividendDate': '2023-09-09', 'ExDividendDate': '2023-08-09'}

In [6]:
Company_info = pd.DataFrame(company_info_data.keys())
Company_info.rename(columns={0:"Title"},inplace= True)

words = Company_info["Title"]

words_list = []

for i in range(0,len(words)):
    list_words = words[i]

    pattern = "[A-Z][^A-Z]*"

    x = re.findall(pattern, list_words)
    x_new = " ".join(x).title()
    words_list.append(x_new)

Company_info["Title"] = words_list
Company_info.rename(columns={"index":"Title"}, inplace= True)


values = pd.DataFrame(company_info_data.values())
Company_info["Values"] = values
Company_info

,Title,Values
0,Symbol,IBM
1,Asset Type,Common Stock
2,Name,International Business Machines
3,Description,International Business Machines Corporation (I...
4,C I K,51143
5,Exchange,NYSE
6,Currency,USD
7,Country,USA
8,Sector,TECHNOLOGY
9,Industry,COMPUTER & OFFICE EQUIPMENT
10,Address,"1 NEW ORCHARD ROAD, ARMONK, NY, US"
11,Fiscal Year End,December
12,Latest Quarter,2023-06-30
13,Market Capitalization,131348840000
14,E B I T D A,12644000000
15,P E Ratio,61.09
16,P E G Ratio,1.276
17,Book Value,24.22
18,Dividend Per Share,0
19,Dividend Yield,0.0461
20,E P S,2.36
21,Revenue Per Share T T M,67.06
22,Profit Margin,0
23,Operating Margin T T M,0
24,Return On Assets T T M,0.0376
25,Return On Equity T T M,9.68
26,Revenue T T M,60585001000
27,Gross Profit T T M,32688000000
28,Diluted E P S T T M,2.36
29,Quarterly Earnings Growth Y O Y,0.253
30,Quarterly Revenue Growth Y O Y,0.004
31,Analyst Target Price,130.29
32,Trailing P E,61.09
33,Forward P E,15.55
34,Price To Sales Ratio T T M,2.108
35,Price To Book Ratio,6.75
36,E V To Revenue,2.969
37,E V To E B I T D A,25.81
38,Beta,0.848
39,Week High,149.31
40,Week Low,111.29
41,Day Moving Average,133.89
42,Day Moving Average,134.35
43,Shares Outstanding,911006000
44,Dividend Date,2023-09-09
45,Ex Dividend Date,2023-08-09

# Yahoo Finance Stock Prices

In [7]:
CitiBank = yf.download("C")  # C is a symbol of CitiBank in the Stock Market
CitiBank

[*********************100%***********************]  1 of 1 completed

                 Open       High        Low      Close  Adj Close    Volume
Date
1977-01-03  16.133125  16.236876  16.133125  16.236876   7.305089     47952
1977-01-04  16.236876  16.288750  16.184999  16.288750   7.328434     34217
1977-01-05  16.288750  16.288750  16.133125  16.184999   7.281749     15422
1977-01-06  16.133125  16.133125  15.925625  16.081249   7.235075     39036
1977-01-07  16.081249  16.133125  15.925625  16.133125   7.258411     20482
...               ...        ...        ...        ...        ...       ...
2023-07-26  47.389999  47.750000  47.020000  47.490002  47.490002  12267900
2023-07-27  47.599998  49.119999  47.439999  47.880001  47.880001  25162700
2023-07-28  48.320000  48.360001  47.090000  47.410000  47.410000  20871700
2023-07-31  47.590000  48.049999  47.360001  47.660000  47.660000  14377200
2023-08-01  47.330002  47.470001  46.810001  47.070000  47.070000  15219100

[11745 rows x 6 columns]

# Alpha Vantage Financial Statements

1. FS[0] = Income Statement

2. FS[1] = Balance Sheet

3. FS[2] = Cashflow

In [8]:
FS = ["INCOME_STATEMENT","BALANCE_SHEET","CASH_FLOW"]   # Financial Statements

data = []
IS = {}                                                 # Income Statements
BS = {}                                                 # Balance Sheet
CF = {}                                                 # Cash Flow


for i in FS:
    url = f'https://www.alphavantage.co/query?function={i}&symbol={Ticker}&apikey={os.getenv("Alphavantage_key")}'
    r = requests.get(url)
    data.append(r.json())

    data_df = pd.DataFrame(data)
    
    df = {}
    for i in np.arange(0, len(data_df)):
        df[i] = data_df.iloc[i].get("annualReports")

IS = pd.DataFrame(df[0]).T.reset_index()
BS = pd.DataFrame(df[1]).T.reset_index()
CF = pd.DataFrame(df[2]).T.reset_index()

FS = [IS,BS,CF]

IS_fiscal_Date = IS.iloc[0].to_list()
IS_index = IS.iloc[1].to_list()

FS_pattern = []

for i in np.arange(0, len(FS)):
    FS[i].replace("None",0,inplace = True)
    FS[i].fillna(0)

    FS[i].copy
    FS[i].loc[2:,[0,1,2,3,4]] = FS[i].loc[2:,[0,1,2,3,4]].astype("float64")
    
    FS[i].loc[:1] = IS_fiscal_Date
    FS[i].loc[1] = IS_index
    
    FS_pattern.append(FS[i]["index"])

pattern_list = pd.DataFrame()

one = FS_pattern[0]
two = FS_pattern[1]
three = FS_pattern[2]

pat_list = [one,two,three]

pattern = '[A-Z][^A-Z]*|[A-Z]*[^A-Z][^A-Z]*|[A-Z]*[^A-Z][^A-Z][^A-Z]*|[A-Z]*[^A-Z][^A-Z][^A-Z][^A-Z]*'

FS_0_join = []
for i in np.arange(0, len(one)):
    FS_0_pattern = one[i]
    FS_0_findall = re.findall(pattern,FS_0_pattern)
    FS_0_join.append(" ".join(FS_0_findall).title())
FS[0]["index"] = FS_0_join

FS_1_join = []
for z in np.arange(0, len(two)):
    FS_1_pattern = two[z]
    FS_1_findall = re.findall(pattern,FS_1_pattern)
    FS_1_join.append(" ".join(FS_1_findall).title())
FS[1]["index"] = FS_1_join

FS_2_join = []
for q in np.arange(0, len(three)):
    FS_2_pattern = three[q]
    FS_2_findall = re.findall(pattern,FS_2_pattern)
    FS_2_join.append(" ".join(FS_2_findall).title())
FS[2]["index"] = FS_2_join

index_names = ["INCOME STATEMENT","BALANCE SHEET","CASH FLOW"]

for i in np.arange(0,3):
    FS[i].columns = IS_fiscal_Date
    FS[i] = FS[i].drop(0)

    FS[i].index.name = index_names[i]

display(FS[0])
display(FS[1])
display(FS[2])

,fiscalDateEnding,2022-12-31,2021-12-31,2020-12-31,2019-12-31,2018-12-31
INCOME STATEMENT,,,,,,
1,Reported Currency,USD,USD,USD,USD,USD
2,Gross Profit,32687000000.0,31486000000.0,30865000000.0,31533000000.0,36936000000.0
3,Total Revenue,60530000000.0,57350000000.0,55179000000.0,57714000000.0,79591000000.0
4,Cost Of Revenue,27842000000.0,25865000000.0,24314000000.0,26181000000.0,42655000000.0
5,Costof Goods And Services Sold,385000000.0,300000000.0,439000000.0,591000000.0,42655000000.0
6,Operating Income,6408000000.0,4786000000.0,4609000000.0,9004000000.0,10838000000.0
7,Selling General And Administrative,18609000000.0,18745000000.0,20561000000.0,18724000000.0,19366000000.0
8,Research And Development,6567000000.0,6488000000.0,6262000000.0,5910000000.0,5379000000.0
9,Operating Expenses,26279000000.0,26700000000.0,30966000000.0,27484000000.0,26098000000.0
10,Investment Income Net,0.0,0.0,0.0,0.0,0.0
11,Net Interest Income,-1216000000.0,-1155000000.0,-1288000000.0,-1344000000.0,-723000000.0
12,Interest Income,162000000.0,52000000.0,105000000.0,349000000.0,264000000.0
13,Interest Expense,1216000000.0,1155000000.0,1288000000.0,1344000000.0,723000000.0
14,Non Interest Income,365000000.0,337000000.0,-92000000.0,0.0,0.0
15,Other Non Operating Income,443000000.0,225000000.0,156000000.0,968000000.0,-1152000000.0
16,Depreciation,2407000000.0,3888000000.0,4227000000.0,4209000000.0,3127000000.0
17,Depreciation And Amortization,2395000000.0,2529000000.0,2468000000.0,1850000000.0,1353000000.0
18,Income Before Tax,1013000000.0,5867000000.0,4230000000.0,9491000000.0,11347000000.0
19,Income Tax Expense,-626000000.0,124000000.0,-1360000000.0,60000000.0,2619000000.0
20,Interest And Debt Expense,1216000000.0,1155000000.0,1288000000.0,1344000000.0,723000000.0
21,Net Income From Continuing Operations,1783000000.0,4712000000.0,3932000000.0,7146000000.0,8723000000.0
22,Comprehensive Income Net Of Tax,8134000000.0,10582000000.0,4850000000.0,10324000000.0,8252000000.0
23,Ebit,2229000000.0,7022000000.0,5518000000.0,10835000000.0,12070000000.0
24,Ebitda,4624000000.0,9551000000.0,7986000000.0,12685000000.0,13423000000.0
25,Net Income,1639000000.0,5743000000.0,5590000000.0,9431000000.0,8728000000.0

,fiscalDateEnding,2022-12-31,2021-12-31,2020-12-31,2019-12-31,2018-12-31
BALANCE SHEET,,,,,,
1,Reported Currency,USD,USD,USD,USD,USD
2,Total Assets,127243000000.0,132001000000.0,155971000000.0,152186000000.0,123382000000.0
3,Total Current Assets,29118000000.0,29539000000.0,39165000000.0,38420000000.0,49146000000.0
4,Cash And Cash Equivalents At Carrying Value,7886000000.0,6650000000.0,13188000000.0,8172000000.0,11379000000.0
5,Cash And Short Term Investments,7886000000.0,6650000000.0,13812000000.0,8868000000.0,11997000000.0
6,Inventory,1552000000.0,1649000000.0,1812000000.0,1619000000.0,1682000000.0
7,Current Net Receivables,14209000000.0,14977000000.0,18738000000.0,23795000000.0,30563000000.0
8,Total Non Current Assets,96874000000.0,101786000000.0,115864000000.0,112878000000.0,68067000000.0
9,Property Plant Equipment,5334000000.0,5694000000.0,6205000000.0,10010000000.0,10792000000.0
10,Accumulated Depreciation Amortization P P E,13361000000.0,14390000000.0,13895000000.0,22018000000.0,21668000000.0
11,Intangible Assets,67133000000.0,68154000000.0,73413000000.0,73457000000.0,39352000000.0
12,Intangible Assets Excluding Goodwill,11184000000.0,12511000000.0,13796000000.0,15235000000.0,3087000000.0
13,Goodwill,55949000000.0,55643000000.0,53765000000.0,52471000000.0,36265000000.0
14,Investments,0.0,199000000.0,923000000.0,974000000.0,1157000000.0
15,Long Term Investments,142000000.0,159000000.0,172000000.0,184000000.0,192000000.0
16,Short Term Investments,852000000.0,600000000.0,600000000.0,696000000.0,618000000.0
17,Other Current Assets,2610000000.0,5663000000.0,4776000000.0,4138000000.0,4904000000.0
18,Other Non Current Assets,0.0,0.0,0.0,0.0,0.0
19,Total Liabilities,105222000000.0,113005000000.0,135244000000.0,131202000000.0,106452000000.0
20,Total Current Liabilities,31505000000.0,33619000000.0,39869000000.0,37701000000.0,38227000000.0
21,Current Accounts Payable,4051000000.0,3955000000.0,4033000000.0,4896000000.0,6558000000.0
22,Deferred Revenue,15531000000.0,16095000000.0,17134000000.0,15877000000.0,14610000000.0
23,Current Debt,9511000000.0,13551000000.0,14102000000.0,16319000000.0,10207000000.0
24,Short Term Debt,4760000000.0,6787000000.0,7116000000.0,8797000000.0,10207000000.0
25,Total Non Current Liabilities,83414000000.0,90188000000.0,106679000000.0,100877000000.0,76767000000.0
26,Capital Lease Obligations,164000000.0,63000000.0,60000000.0,5259000000.0,0.0
27,Long Term Debt,47190000000.0,56193000000.0,68416000000.0,65953000000.0,42656000000.0
28,Current Long Term Debt,4676000000.0,6728000000.0,6956000000.0,7522000000.0,7051000000.0
29,Long Term Debt Noncurrent,46189000000.0,44917000000.0,54217000000.0,54102000000.0,35605000000.0
30,Short Long Term Debt Total,107759000000.0,110496000000.0,130178000000.0,132187000000.0,52863000000.0
31,Other Current Liabilities,9788000000.0,9386000000.0,13588000000.0,10602000000.0,10297000000.0
32,Other Non Current Liabilities,12243000000.0,13996000000.0,14180000000.0,14526000000.0,12174000000.0
33,Total Shareholder Equity,21944000000.0,18901000000.0,20597000000.0,20841000000.0,16796000000.0
34,Treasury Stock,169484000000.0,169392000000.0,169339000000.0,169413000000.0,168071000000.0
35,Retained Earnings,149825000000.0,154209000000.0,162717000000.0,162954000000.0,159206000000.0
36,Common Stock,58343000000.0,57319000000.0,56556000000.0,55895000000.0,55151000000.0
37,Common Stock Shares Outstanding,906091977.0,898068600.0,892653424.0,887110455.0,892479411.0

,fiscalDateEnding,2022-12-31,2021-12-31,2020-12-31,2019-12-31,2018-12-31
CASH FLOW,,,,,,
1,Reported Currency,USD,USD,USD,USD,USD
2,Operating Cashflow,10435000000.0,12796000000.0,18197000000.0,14770000000.0,15247000000.0
3,Payments For Operating Activities,2430000000.0,2655000000.0,3406000000.0,3234000000.0,1423000000.0
4,Proceeds From Operating Activities,0.0,0.0,0.0,0.0,0.0
5,Change In Operating Liabilities,213000000.0,85000000.0,138000000.0,-503000000.0,126000000.0
6,Change In Operating Assets,468000000.0,-1510000000.0,-5088000000.0,-569000000.0,-879000000.0
7,Depreciation Depletion And Amortization,4802000000.0,6417000000.0,6695000000.0,6059000000.0,4480000000.0
8,Capital Expenditures,1346000000.0,2062000000.0,2618000000.0,2286000000.0,3395000000.0
9,Change In Receivables,539000000.0,-1372000000.0,-5297000000.0,-502000000.0,-1006000000.0
10,Change In Inventory,-71000000.0,-138000000.0,209000000.0,-67000000.0,127000000.0
11,Profit Loss,1639000000.0,5743000000.0,5590000000.0,9431000000.0,8728000000.0
12,Cashflow From Investment,-4202000000.0,-5975000000.0,-3028000000.0,-26936000000.0,-4913000000.0
13,Cashflow From Financing,-4958000000.0,-13354000000.0,-9721000000.0,9042000000.0,-10469000000.0
14,Proceeds From Repayments Of Short Term Debt,217000000.0,-40000000.0,-853000000.0,-2597000000.0,1341000000.0
15,Payments For Repurchase Of Common Stock,0.0,0.0,0.0,1361000000.0,4443000000.0
16,Payments For Repurchase Of Equity,0.0,0.0,0.0,1361000000.0,4443000000.0
17,Payments For Repurchase Of Preferred Stock,0.0,0.0,0.0,0.0,0.0
18,Dividend Payout,5948000000.0,5869000000.0,5797000000.0,5707000000.0,5666000000.0
19,Dividend Payout Common Stock,5948000000.0,5869000000.0,5797000000.0,5707000000.0,5666000000.0
20,Dividend Payout Preferred Stock,0.0,0.0,0.0,0.0,0.0
21,Proceeds From Issuance Of Common Stock,0.0,0.0,0.0,0.0,0.0
22,Proceeds From Issuance Of Long Term Debt And C...,7804000000.0,522000000.0,10504000000.0,31825000000.0,6891000000.0
23,Proceeds From Issuance Of Preferred Stock,0.0,0.0,0.0,0.0,0.0
24,Proceeds From Repurchase Of Equity,-407000000.0,-319000000.0,-210000000.0,-1361000000.0,-4443000000.0
25,Proceeds From Sale Of Treasury Stock,0.0,0.0,0.0,0.0,0.0
26,Change In Cash And Cash Equivalents,0.0,-6533000000.0,5448000000.0,-3124000000.0,-135000000.0
27,Change In Exchange Rate,0.0,0.0,0.0,0.0,0.0
28,Net Income,1639000000.0,5743000000.0,5590000000.0,9431000000.0,8728000000.0

In [9]:
IS = FS[0]
BS = FS[1]
CF = FS[2]

## Finance Formulas

In [10]:
'''
headers = {
    'Content-Type': 'application/json'
}
formulas_request = requests.get(f'https://api.tiingo.com/tiingo/fundamentals/definitions?token={os.getenv("Tiingo_key")}', headers=headers)
formulas_data = formulas_request.json()
'''

formulas_data = pd.read_csv("Excel_Files\Formulas.csv")
formulas_data = formulas_data.drop(["Unnamed: 0"], axis=1)

In [11]:
Formulas = pd.DataFrame(formulas_data)
Formulas

,dataCode,name,description,statementType,units
0,rps,Revenue Per Share,Revenue per share,overview,$
1,roa,Return on Assets ROA,Net Income/Total Assets,overview,%
2,assetTurnover,Asset Turnover,Revenue over assets,overview,NaN
3,bookVal,Book Value,"Book value of the share, assets - liabilities",overview,$
4,bvps,Book Value Per Share,Book Value per each share,overview,$
...,...,...,...,...,...
80,marketCap,Market Capitalization,Size of the company (shares outstanding * shar...,overview,$
81,enterpriseVal,Enterprise Value,An alternative to marketcap that's the theoret...,overview,$
82,shareFactor,Share Factor,Share factor is a multiplicant in the calculat...,overview,NaN
83,trailingPEG1Y,PEG Ratio,PEG ratio using the trailing 1 year EPS growth...,overview,NaN
84,pbRatio,Price to Book Ratio,Price/Book value per share ratio,overview,NaN

**Data Cleaning**

In [12]:
Formulas.isnull().sum()

dataCode          0
name              0
description       0
statementType     0
units            13
dtype: int64

In [13]:
Formulas["units"][Formulas["units"].isnull() == True] = "No Units"
Formulas

,dataCode,name,description,statementType,units
0,rps,Revenue Per Share,Revenue per share,overview,$
1,roa,Return on Assets ROA,Net Income/Total Assets,overview,%
2,assetTurnover,Asset Turnover,Revenue over assets,overview,No Units
3,bookVal,Book Value,"Book value of the share, assets - liabilities",overview,$
4,bvps,Book Value Per Share,Book Value per each share,overview,$
...,...,...,...,...,...
80,marketCap,Market Capitalization,Size of the company (shares outstanding * shar...,overview,$
81,enterpriseVal,Enterprise Value,An alternative to marketcap that's the theoret...,overview,$
82,shareFactor,Share Factor,Share factor is a multiplicant in the calculat...,overview,No Units
83,trailingPEG1Y,PEG Ratio,PEG ratio using the trailing 1 year EPS growth...,overview,No Units
84,pbRatio,Price to Book Ratio,Price/Book value per share ratio,overview,No Units

In [14]:
Formulas.isnull().sum()

dataCode         0
name             0
description      0
statementType    0
units            0
dtype: int64

## Some Formulas Example

1.

In [15]:
Formulas.iloc[0]   # Total Revenue / Total Outstanding Share

dataCode                       rps
name             Revenue Per Share
description      Revenue per share
statementType             overview
units                            $
Name: 0, dtype: object

In [16]:
rps = IS[IS["fiscalDateEnding"] == "Total Revenue"]["2022-12-31"].values[0] / BS[BS["fiscalDateEnding"] == "Common Stock Shares Outstanding"]["2022-12-31"].values[0] 
print(f"Revenue Per Share is {rps} in 2022")

Revenue Per Share is 66.80337265584242 in 2022

2.

In [17]:
Formulas.iloc[1]  # Net Income/Total Assets

dataCode                             roa
name                Return on Assets ROA
description      Net Income/Total Assets
statementType                   overview
units                                  %
Name: 1, dtype: object

In [18]:
roa = IS[IS["fiscalDateEnding"] == "Net Income"]["2022-12-31"].values[0] / BS[BS["fiscalDateEnding"] == "Total Assets"]["2022-12-31"].values[0] 
print(f"Return on Asset is {roa} in 2022")

Return on Asset is 0.012880865745070455 in 2022

3.

In [19]:
Formulas.iloc[2] # Total Sales(Total Revenue) / (2022 Total Asset / 2021 Total 2021)

dataCode               assetTurnover
name                  Asset Turnover
description      Revenue over assets
statementType               overview
units                       No Units
Name: 2, dtype: object

In [20]:
AssetTurnover = IS[IS["fiscalDateEnding"] == "Total Revenue"]["2022-12-31"].values[0] / ((BS[BS["fiscalDateEnding"] == "Total Assets"]["2022-12-31"].values[0] + BS[BS["fiscalDateEnding"] == "Total Assets"]["2021-12-31"].values[0]) / 2) 
print(f"Revenue over assets (Total Asset Turnover) is {AssetTurnover} in 2022")

Revenue over assets (Total Asset Turnover) is 0.4669731989939979 in 2022

4.

In [21]:
Formulas.iloc[3] # total Asset - Total Liabilities

dataCode                                               bookVal
name                                                Book Value
description      Book value of the share, assets - liabilities
statementType                                         overview
units                                                        $
Name: 3, dtype: object

In [22]:
BookValue = BS[BS["fiscalDateEnding"] == "Total Assets"]["2022-12-31"].values[0] - BS[BS["fiscalDateEnding"] == "Total Liabilities"]["2022-12-31"].values[0]
print(f"Book Value is {BookValue} in 2022")

Book Value is 22021000000.0 in 2022

5.

In [23]:
Formulas.iloc[4] # Book Value / Outstaning Share

dataCode                              bvps
name                  Book Value Per Share
description      Book Value per each share
statementType                     overview
units                                    $
Name: 4, dtype: object

In [24]:
BVPS = BookValue / BS[BS["fiscalDateEnding"] == "Common Stock Shares Outstanding"]["2022-12-31"].values[0]
print(f"Book Value Per Share is {BVPS} in 2022")

Book Value Per Share is 24.303272249369005 in 2022

6.

In [25]:
Formulas.iloc[5]

dataCode                 revenue
name                     Revenue
description              Revenue
statementType    incomeStatement
units                          $
Name: 5, dtype: object

In [26]:
Revenue = IS[IS["fiscalDateEnding"] == "Total Revenue"]["2022-12-31"].values[0]
print(f"Revenue is {Revenue} in 2022")

Revenue is 60530000000.0 in 2022

7.

In [27]:
Formulas.iloc[6] # (Net Income - Preferred Dividends) / weighted average number of shares outstanding ???????

dataCode                             epsDil
name             Earnings Per Share Diluted
description          EPS for diluted shares
statementType               incomeStatement
units                                     $
Name: 6, dtype: object

In [28]:
epsDil = (IS[IS["fiscalDateEnding"] == "Net Income"]["2022-12-31"].values[0] - CF[CF["fiscalDateEnding"] == "Dividend Payout"]["2022-12-31"].values[0]) / BS[BS["fiscalDateEnding"] == "Common Stock Shares Outstanding"]["2022-12-31"].values[0]
print(f"Earning Per Share Diluted is {epsDil} in 2022")

Earning Per Share Diluted is -4.755587853527589 in 2022

8.

In [29]:
Formulas.iloc[7]  # Net Income

dataCode                  netinc
name                  Net Income
description           Net income
statementType    incomeStatement
units                          $
Name: 7, dtype: object

In [30]:
NetIncome = IS[IS["fiscalDateEnding"] == "Net Income"]["2022-12-31"].values[0]
print(f"Net Income is {NetIncome} in 2022")

Net Income is 1639000000.0 in 2022

9.

In [31]:
Formulas.iloc[8] # (Net Profit / Revenue) *  100

dataCode                                              profitMargin
name                                                 Profit Margin
description      This field is marked for DEPRECATION. Please u...
statementType                                             overview
units                                                            %
Name: 8, dtype: object

In [32]:
profitMargin = (NetIncome / Revenue) * 100  # General Profit Margin
print(f"Profit Margin is {profitMargin} in 2022")

Profit Margin is 2.7077482240211466 in 2022

10.

In [33]:
Formulas.iloc[9] #(Current Period Revenue - Prior Period revenue) / Prior period revenue

dataCode                                       revenueQoQ
name                                   Revenue QoQ Growth
description      Revenue Quarter-over-Quarter Growth rate
statementType                                    overview
units                                                   %
Name: 9, dtype: object

In [34]:
RQoq = ((Revenue - IS[IS["fiscalDateEnding"] == "Total Revenue"]["2021-12-31"].values[0]) / IS[IS["fiscalDateEnding"] == "Total Revenue"]["2021-12-31"].values[0]) * 100
print(f"Revenue Quarter-over-Quarter Growth Rate is {RQoq} in 2022")

Revenue Quarter-over-Quarter Growth Rate is 5.544899738448125 in 2022

11.

In [35]:
Formulas.iloc[10] # Debt / Equity

dataCode                   debtEquity
name             Debt to Equity Ratio
description         Debt/Equity ratio
statementType                overview
units                        No Units
Name: 10, dtype: object

In [36]:
#  (short-term debt + long-term debt) - (cash + cash equivalents)
TotalDebt = (BS[BS["fiscalDateEnding"] == "Short Term Debt"]["2022-12-31"].values[0] + BS[BS["fiscalDateEnding"] == "Long Term Debt"]["2022-12-31"].values[0]) - BS[BS["fiscalDateEnding"] == "Cash And Cash Equivalents At Carrying Value"]["2022-12-31"].values[0]
TotalDebt

44064000000.0

In [37]:
DE_Ratio = (TotalDebt / BS[BS["fiscalDateEnding"] == "Total Shareholder Equity"]["2022-12-31"].values[0])
print(f"Debt and Equity Ratio is {DE_Ratio} in 2022")

Debt and Equity Ratio is 2.008020415603354 in 2022

12.

In [38]:
Formulas.iloc[11]  # Gross Profit / Revenue

dataCode                                               grossMargin
name                                                  Gross Margin
description      The margin of good sold, basically how much of...
statementType                                             overview
units                                                            %
Name: 11, dtype: object

In [39]:
grossMargin = (IS[IS["fiscalDateEnding"] == "Gross Profit"]["2022-12-31"].values[0] / Revenue) * 100
print(f"Gross Margin is {grossMargin} in 2022")

Gross Margin is 54.00132165868165 in 2022

13.

In [40]:
Formulas.iloc[12] # Net Income / Total Sahreholder Equity

dataCode                                                       roe
name                                          Return on Equity ROE
description      Return on Shareholder's equity; ROE=Net Income...
statementType                                             overview
units                                                            %
Name: 12, dtype: object

In [41]:
ROE = NetIncome / BS[BS["fiscalDateEnding"] == "Total Shareholder Equity"]["2022-12-31"].values[0]
print(f"Rate Of Equity is {ROE} in 2022")

Rate Of Equity is 0.07469012030623405 in 2022

14.

In [42]:
Formulas.iloc[13]  # Current Asset / Current Liabilities

dataCode                                              currentRatio
name                                                 Current Ratio
description      Ability for a company to pay off its short-ter...
statementType                                             overview
units                                                     No Units
Name: 13, dtype: object

In [43]:
CurrentRaito = BS[BS["fiscalDateEnding"] == "Total Current Assets"]["2022-12-31"].values[0] / BS[BS["fiscalDateEnding"] == "Total Current Liabilities"]["2022-12-31"].values[0]
print(f"Current Ratio is {CurrentRaito} in 2022")

Current Ratio is 0.924234248531979 in 2022

15.

In [44]:
Formulas.iloc[14]

dataCode                                                    fxRate
name                                                       FX Rate
description      The exchange rate used for the conversion of f...
statementType                                             overview
units                                                     No Units
Name: 14, dtype: object

In [45]:
USDTRY = yf.Ticker("TRY=X").history(period="min")["Close"].values[0]
print(f"1 USA Dollar is {USDTRY} TurkishLira")

1 USA Dollar is 26.965099334716797 TurkishLira

16.

In [48]:
Formulas.iloc[16]

dataCode                                           piotroskiFScore
name                                             Piotroski F-Score
description      0-9 point scale to determine strength of compa...
statementType                                             overview
units                                                     No Units
Name: 16, dtype: object

17.

In [49]:
Formulas.iloc[17] # Long-term Debt / Equity

dataCode               longTermDebtEquity
name             Long-term Debt to Equity
description      Long term debt to equity
statementType                    overview
units                            No Units
Name: 17, dtype: object

In [50]:
LDE = BS[BS["fiscalDateEnding"] == "Long Term Debt"]["2022-12-31"].values[0] / BS[BS["fiscalDateEnding"] == "Total Shareholder Equity"]["2022-12-31"].values[0]
print(f"Long-Term Debt Equity Ratio is {LDE} in 2022")

Long-Term Debt Equity Ratio is 2.1504739336492893 in 2022

18.

In [51]:
Formulas.iloc[18] # Operating Income / Revenue

dataCode                                                  opMargin
name                                              Operating Margin
description      Operating margin, or how much money a company ...
statementType                                             overview
units                                                            %
Name: 18, dtype: object

In [52]:
OPMarign = IS[IS["fiscalDateEnding"] == "Operating Income"]["2022-12-31"].values[0] / Revenue
print(f"Operating Margin is {OPMarign} in 2022")

Operating Margin is 0.10586486039980175 in 2022

19.

In [53]:
Formulas.iloc[19]

dataCode                                                    epsQoQ
name                                 Earnings Per Share QoQ Growth
description      Earnings Per Share Quarter-over-Quarter Growth...
statementType                                             overview
units                                                            %
Name: 19, dtype: object

QOQ compares a change in performance between one fiscal quarter and the previous fiscal quarter.

EPSQoQ is unknown in that here

In [133]:
EPSDiv_1 = IS[IS["fiscalDateEnding"] == "Net Income"]["2022-12-31"].values[0] - CF[CF["fiscalDateEnding"] == "Dividend Payout"]["2022-12-31"].values[0]  
EPSDiv_2 = BS[BS["fiscalDateEnding"] == "Common Stock Shares Outstanding"]["2022-12-31"].values[0]

EPS = EPSDiv_1 / EPSDiv_2
EPS

-4.755587853527589

20.

In [54]:
Formulas.iloc[20] # Current Stock Price / Earning Per Share

dataCode                         peRatio
name             Price to Earnings Ratio
description                    P/E Ratio
statementType                   overview
units                           No Units
Name: 20, dtype: object

In [135]:
IBM_CurrentStockPrice = yf.Ticker("IBM").history(period="min")["Close"].values[0]
IBM_CurrentStockPrice

143.3300018310547

In [137]:
PERatio = IBM_CurrentStockPrice / EPS
print(f"Price To Earninigs Ratio is {PERatio} in 2022")

Price To Earninigs Ratio is -30.13928167150475 in 2022

21.

In [55]:
Formulas.iloc[21]

dataCode                                               shareswaDil
name                               Weighted Average Shares Diluted
description      Used to calculated diluted EPS. Considers all ...
statementType                                      incomeStatement
units                                                     No Units
Name: 21, dtype: object

Weighted Average Shares Diluted is unknown in that here

22.

In [56]:
Formulas.iloc[22] # (Net Income - Dividend) / Average Outstanding Shareholder

dataCode                                            eps
name                                 Earnings Per Share
description      Earnings per basic share (not diluted)
statementType                           incomeStatement
units                                                 $
Name: 22, dtype: object

* Look at Number 19 for Step

In [134]:
print(f"Earning Per Share is {EPS} in 2022")

Earning Per Share is -4.755587853527589 in 2022

23.

In [60]:
Formulas.iloc[25]  # Operating Cash Flow - Capital Expenditures (Simplest Way)

dataCode                                              freeCashFlow
name                                                Free Cash Flow
description      Operating Cash Flow - Capex, How much cash is ...
statementType                                             cashFlow
units                                                            $
Name: 25, dtype: object

In [139]:
FreeCashFlow = CF[CF["fiscalDateEnding"] == "Operating Cashflow"]["2022-12-31"].values[0] - CF[CF["fiscalDateEnding"] == "Capital Expenditures"]["2022-12-31"].values[0] 
print(f"Free Cash Flow is {FreeCashFlow} in 2022")

Free Cash Flow is 9089000000.0 in 2022